In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_excel("ApplicantRecipientPayments_Template.xlsx")

In [9]:
df.head()

,UIF Reference Number,Employee Id,Paid Amount,Shutdown From,Shutdown to,Bank Name,Account Number,Account Type,Received On
0,0118003/9,6403055115083,4191.25,1/4/2020,30/4/2020,Nedbank,1118458184,1,30/4/2020
1,0118003/9,6203195245083,4027.45,1/4/2020,30/4/2020,Nedbank,1129815307,1,30/4/2020
2,0118003/9,6812195261088,4027.45,1/4/2020,30/4/2020,Capitec Bank,1371076896,1,30/4/2020
3,0118003/9,6107165036085,4027.40,1/4/2020,30/4/2020,Capitec Bank,1314656269,1,30/4/2020
4,0118003/9,6402026192080,4372.55,1/4/2020,30/4/2020,Capitec Bank,1126670764,1,30/4/2020

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4382 entries, 0 to 4381
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   UIF Reference Number  4382 non-null   object
 1   Employee Id           4382 non-null   int64
 2   Paid Amount           4382 non-null   float64
 3   Shutdown From         4382 non-null   object
 4   Shutdown to           4382 non-null   object
 5   Bank Name             4382 non-null   object
 6   Account Number        4382 non-null   int64
 7   Account Type          4382 non-null   int64
 8   Received On           3403 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 308.2+ KB

In [11]:
uif = pd.read_excel("MTO Forestry Pty Ltd NEXUS UIFREF 0118003_9.xlsx")

In [12]:
uif.head()

,IDNUMBER,Serv_Prov,UIFREFERENCENUMBER,UIFREFERENCENUMBER2,TRADENAME,IDNUMBER.1,FIRSTNAME,LASTNAME,EMPLOYMENTSTARTDATE,SHUTDOWN_FROM,...,UPDATEDBY,UPDATEDDATE,BANKVERSTATUSID,ONHOLD,TOTAL_PAYMENT_ITR_1,OVERPAYMENT_ITR_1,v_BANK_PAY_AMOUNT,v_PAYMENT_ITR_1,v_PAYMENT_ITR_2,v_PAYMENT_ITR_3
0,8503031748085,NEXUS,0118003/9,0118003/9,MTO Forestry (Pty) Ltd,8503031748085,Yolanda,Grootboom,20-OCT-2014 00:00:00,01-MAY-2020 00:00:00,...,UNBLOCKED_BY_AG,19-SEP-2020 05:49:20,0,0,0.0,0,3567.17,3567.17,0,0
1,6903046034087,NEXUS,0118003/9,0118003/9,MTO Forestry (Pty) Ltd,6903046034087,Mncedi,Mqonci,20-JAN-2015 00:00:00,01-MAY-2020 00:00:00,...,UNBLOCKED_BY_AG,19-SEP-2020 05:49:20,0,0,0.0,0,3567.17,3567.17,0,0
2,8404155889088,NEXUS,0118003/9,0118003/9,MTO Forestry (Pty) Ltd,8404155889088,Ayanda,Liwani,20-JAN-2015 00:00:00,01-MAY-2020 00:00:00,...,UNBLOCKED_BY_AG,19-SEP-2020 05:49:20,0,0,0.0,0,3567.17,3567.17,0,0
3,8304025691088,NEXUS,0118003/9,0118003/9,MTO Forestry (Pty) Ltd,8304025691088,Azuka,Ncacha,04-MAY-2015 00:00:00,01-MAY-2020 00:00:00,...,UNBLOCKED_BY_AG,19-SEP-2020 05:49:20,0,0,0.0,0,3567.17,3567.17,0,0
4,8707170198081,NEXUS,0118003/9,0118003/9,MTO Forestry (Pty) Ltd,8707170198081,Amelia,Claassen,27-MAY-2015 00:00:00,01-MAY-2020 00:00:00,...,UNBLOCKED_BY_AG,19-SEP-2020 05:49:20,0,0,0.0,0,3567.17,3567.17,0,0

In [13]:
uif.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345 entries, 0 to 4344
Data columns (total 60 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   IDNUMBER               4345 non-null   int64
 1   Serv_Prov              4345 non-null   object
 2   UIFREFERENCENUMBER     4345 non-null   object
 3   UIFREFERENCENUMBER2    4345 non-null   object
 4   TRADENAME              4345 non-null   object
 5   IDNUMBER.1             4345 non-null   int64
 6   FIRSTNAME              4345 non-null   object
 7   LASTNAME               4345 non-null   object
 8   EMPLOYMENTSTARTDATE    4345 non-null   object
 9   SHUTDOWN_FROM          4345 non-null   object
 10  SHUTDOWN_TILL          4345 non-null   object
 11  EMAIL_ADDRESS          4345 non-null   object
 12  CONTACTNUMBER          4345 non-null   int64
 13  PAYEREFERENCE          2985 non-null   float64
 14  MONTHLY_SALARY         4345 non-null   float64
 15  BENEFITTYPEID          4320 non-null   float64
 16  APPLICATIONDATE        4317 non-null   object
 17  APPROVALDATE           4317 non-null   object
 18  TERMINATIONDATE        4320 non-null   object
 19  TERMINATIONREASON      4317 non-null   object
 20  AVERAGESALARY          4328 non-null   float64
 21  LEAVE_INCOME           4345 non-null   float64
 22  ERROR_DESC             36 non-null     object
 23  INDUSTRYSECTOR         4317 non-null   object
 24  CREATE_CC              4345 non-null   object
 25  HAS_EMPLOYER_DECLARED  4345 non-null   object
 26  IRR                    4317 non-null   float64
 27  NMW_MONTHLY            24 non-null     float64
 28  NMW_DAILY              4317 non-null   float64
 29  DAILYINCOME            4317 non-null   float64
 30  DAILY_BENEFIT_AMOUNT   4317 non-null   float64
 31  NO_OF_PAY_DAYS         4341 non-null   float64
 32  PAYMENT_ITR_1          4345 non-null   float64
 33  PAYMENT_ITR_2          4345 non-null   int64
 34  PAYMENT_ITR_3          4345 non-null   int64
 35  PAY_REF_ITR_1          4307 non-null   object
 36  PAY_REF_ITR_2          0 non-null      float64
 37  PAY_REF_ITR_3          0 non-null      float64
 38  BANK_NAME              4345 non-null   object
 39  ACCOUNTNUMBER          4345 non-null   int64
 40  ACCOUNTTYPE            4345 non-null   int64
 41  BRANCH_CODE            4345 non-null   int64
 42  RECEIPTDATE            4345 non-null   object
 43  PAYMENTDATE            4317 non-null   object
 44  BANK_PAY_AMOUNT        4321 non-null   float64
 45  PAYMENTFAILREASON      0 non-null      float64
 46  PROCESSED              4345 non-null   int64
 47  PAYMENTMEDIUMID        4345 non-null   int64
 48  SOURCE_INDICATOR       4345 non-null   object
 49  PAYMENT_STATUS_ID      4345 non-null   int64
 50  UPDATEDBY              4319 non-null   object
 51  UPDATEDDATE            4345 non-null   object
 52  BANKVERSTATUSID        4345 non-null   int64
 53  ONHOLD                 4345 non-null   int64
 54  TOTAL_PAYMENT_ITR_1    4281 non-null   float64
 55  OVERPAYMENT_ITR_1      4345 non-null   int64
 56  v_BANK_PAY_AMOUNT      4345 non-null   float64
 57  v_PAYMENT_ITR_1        4345 non-null   float64
 58  v_PAYMENT_ITR_2        4345 non-null   int64
 59  v_PAYMENT_ITR_3        4345 non-null   int64
dtypes: float64(19), int64(16), object(25)
memory usage: 2.0+ MB

In [14]:
uif['UPDATEDDATE']

0       19-SEP-2020 05:49:20
1       19-SEP-2020 05:49:20
2       19-SEP-2020 05:49:20
3       19-SEP-2020 05:49:20
4       19-SEP-2020 05:49:20
                ...
4340    07-DEC-2020 11:24:31
4341    07-DEC-2020 11:31:03
4342    07-DEC-2020 11:22:51
4343    27-JAN-2021 23:32:58
4344    20-JAN-2021 07:18:48
Name: UPDATEDDATE, Length: 4345, dtype: object

In [15]:
import datetime

In [20]:
uif.UPDATEDDATE = uif.UPDATEDDATE.astype(datetime.time())

TypeError: Cannot interpret 'datetime.time(0, 0)' as a data type

In [17]:
uif['UPDATEDDATE'] = pd.to_datetime(df['UPDATEDDATE'])

KeyError: 'UPDATEDDATE'